# {{ ansible_managed | default('Ansible Managed') }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for h in infra_hosts %}
{{ h.ip }}   {{ h.name }}.{{ domain_name }}   {{ h.name }}
{% endfor %}